@model OnlineEvents.Models.Event

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Event</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <input asp-for="Id" class="form-control" type="hidden" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArabicTitle" class="control-label"></label>
                <input asp-for="ArabicTitle" class="form-control" />
                <span asp-validation-for="ArabicTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <select asp-for="CategoryId">
                <option asp-for="CategoryId" value="">--Select Category--</option>
                <option asp-for="CategoryId" value="1">Art & Culture</option>
                <option asp-for="CategoryId" value="2">Career & Business</option>
                <option asp-for="CategoryId" value="3">New Groups</option>
                <option asp-for="CategoryId" value="8">Community & Environment</option>
                <option asp-for="CategoryId" value="9">Health & Wellbeing</option>
                <option asp-for="CategoryId" value="10">Parents & Family</option>
                <option asp-for="CategoryId" value="11">Pets & Animals</option>
                <option asp-for="CategoryId" value="12">Science & Education</option>
                <option asp-for="CategoryId" value="13">Sports & Fitness</option>
                <option asp-for="CategoryId" value="14">Support & Coaching</option>
                <option asp-for="CategoryId" value="15">Technology</option>
                <option asp-for="CategoryId" value="16">Travel & Outdoor</option>
                <option asp-for="CategoryId" value="17">Writing</option>
            </select>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>